<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile rowspan="2">
    <div class="center-text center-content tour background-color">
      <span *ngIf="!isDisabled; else prompt">
      <div class="center-text">
        <button mat-button (click)="openAddTourDialog()">Add Tour</button>
        <button mat-button (click)="getReport('summary')">Get Summary Report</button>
        <input class="file-input" type="file" (change)="importTour($event)" #fileUpload>
        <button mat-button (click)="fileUpload.click()">Import Tour</button>
      </div>

      <div class="scrollable center mat-card">
          <ul style="list-style: none;">

              <li *ngFor="let tour of tours"  >
                <button (mouseenter)="hoveredTour = tour" (click)="openGetLog(tour)" mat-button>
                  <span class="badge">{{tour.name}}</span>
                  <br>
                  <span class="badge">{{tour.start}} - {{tour.end}}</span>
                  <br>
                  <span class="name">{{tour.timeCreated}}</span>
                </button>
                <button mat-button (click)="openEditTourDialog(tour)">Edit route</button>
                <button mat-button (click)="deleteTourButton(tour)">delete</button>
                <br>
                <br>
              </li>
          </ul>
        </div>
      </span>


      <div>
        <ng-template #prompt>
          <div>
            <button *ngIf="isDisabled" id="changeText" (click)="enableDisable()" mat-button>back</button>
            <button *ngIf="isDisabled"  (click)="openAddLogButton()" mat-button>Add Log</button>
            <button mat-button (click)="getReport('tour')">Get Tour Report</button>
            <button mat-button (click)="exportTour()">Export Tour</button>
          </div>
          <div class="scrollable center mat-card">
            <ul style="list-style: none;">
              <li *ngFor="let log of logs">
                <button  (click)="hoveredLog = log" mat-button>
                  <span class="badge">{{"difficulty: " + log.difficulty }}</span>
                  <br>
                  <span class="badge">{{"distance: " + log.distance }}</span>
                  <br>
                  <span class="name">{{"rating: " + log.rating }}</span>
                </button>
                <button mat-button (click)="openEditLogDialog(log)">Edit log</button>
                <button mat-button (click)="deleteLogButton(log)">delete</button>
                <br>
                <br>
              </li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div id="map" class="map" style="height: 100%; width: 100%;"></div>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="info-route-form" *ngIf="hoveredTour && !isDisabled" appearance="outlined" >
      <mat-card-content >
        <div class="tour-grid">
          <div><mat-label>Route Name: {{hoveredTour.name}}</mat-label></div>
          <br>
          <div><mat-label>Description: {{hoveredTour.description}}</mat-label></div>
          <div><mat-label>Start: {{hoveredTour.start}}</mat-label></div>
          <div><mat-label>End: {{hoveredTour.end}}</mat-label></div>
          <div><mat-label>Transport Mode: {{hoveredTour.transportMode}}</mat-label></div>
          <div><mat-label>Distance: {{hoveredTour.distance}}</mat-label></div>
          <div><mat-label>Duration: {{(hoveredTour.duration/60).toFixed(2)}} minutes</mat-label></div>
          <div><mat-label>Time Created: {{hoveredTour.timeCreated}}</mat-label></div>
          <div><mat-label>Information: {{hoveredTour.information}}</mat-label></div>
        </div>
      </mat-card-content>
    </mat-card>

      <mat-card class="info-route-form"  *ngIf="hoveredLog && isDisabled" appearance="outlined" >
        <mat-card-content >
          <div class="tour-grid">
            <div><mat-label>Rating: {{hoveredLog.rating + "/5"}}</mat-label></div>
            <div><mat-label>Difficulty: {{hoveredLog.difficulty + "/5"}}</mat-label></div>
            <div><mat-label>Distance: {{hoveredLog.distance + "km"}}</mat-label></div>
            <div><mat-label>Time: {{hoveredLog.time}}</mat-label></div>
            <div><mat-label>Time Started: {{hoveredLog.timeStart}}</mat-label></div>
            <div><mat-label>Time End: {{hoveredLog.timeEnd}}</mat-label></div>
            <div><mat-label>Comment: {{hoveredLog.comment}}</mat-label></div>
          </div>
        </mat-card-content>
      </mat-card>

  </mat-grid-tile>
</mat-grid-list>
